* {
    box-sizing: border-box;
}

.dark-bg {
    background: color #1e1e1e;

}

.light-text {
    color:#ffffff;
}

.rounded {
    Border-radius:10px;
}

.spaced-out {
    padding:20px;
}

.page-title{
    font-size: 48px;
    text-align:center
}



